.hero_bg {
  background-image: url('https://i.ibb.co.com/9TB4sy0/332124681-946143453413364-5227095957934643429-n.png');
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

#add-to-cart-button.shake {
  animation: shake 0.5s;
}


@keyframes border-glow {
  0%, 100% {
    box-shadow: 0 0 0px red;
  }
  50% {
    box-shadow: 0 0 10px 2px red;
  }
}

/* Apply animation by default */
.animated-border {
  position: relative;
  overflow: hidden;
  animation: border-glow 1s infinite;
  transition: box-shadow 0.3s ease;
}

/* Stop animation on hover */
.animated-border:hover {
  animation: none;
  box-shadow: 0 0 0px black;
}



